<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Log in</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">

</head>

<body>
  <div class="container">
    <div class="login_form">
      Log in <br>
      <% include ./partials/messages %>
      <form action="/users/login" method="post">

        <input type="text" name="email" placeholder="email" value="<%= typeof email != 'undefined'? username : '' %>"> <br>
        <input type="password" name="password" placeholder="password" value="<%= typeof password != 'undefined'? password : '' %>"> <br>
        <center> <button type="submit" name="login">Log in</button> </center>
      </form>
    </div>

  </div>
</body>

</html>
