<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign up</title>
  <link rel="stylesheet" href="/css/signup.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">

</head>

<body>
  <div class="container">
    <div class="signup_form">
        Sign up
      <form  action="/controllers/register-controller" method="post">

        <input type="text" name="username" placeholder="username"> <br>
        <input type="text" name="email" placeholder="email"> <br>
        <input type="password" name="password" placeholder="password"> <br>
      <center>  <button type="submit" name="signup">Sign Up</button> </center>
      </form>
    </div>

  </div>
</body>

</html>
